.footer {
    background-color: #52503B;
    padding: 100px 136px 110px 136px;
}

.footer-box {
    display: flex;
    justify-content: space-between;

    &__form {
        width: 576px;
        height: 52px;
        position: relative;

        &-email {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            outline: none;
            border: 1px solid #E5E7EB;
            padding: 16px 30px;
        }

        &-btn {
            width: 100%;
            height: 100%;
            padding: 0 5px;
            border-radius: 10px;
            background-color: #52503B;
            border: 1px solid #52503B;
            @include fontStyle(Montserrat, 14px, 400);
            color:#FFFFFF;
            cursor: pointer;

            &--wrapper {
                width: 61px;
                height: 30px;
                position: absolute;
                right: 8px;
                bottom: 10px;
            }
        }
    }

    &__pages {
        margin-right: 215px;
        margin-bottom: 48px;
    }

    &__footer-social {
        margin-right: 150px;
    }
}

.pages-item {

    &__title {
        @include fontStyle(Montserrat, 14px, 400);
        color: #FFFFFF;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__link {
        @include fontStyle(Montserrat, 14px, 400);
        color: #FFFFFF;
        text-decoration: none;
        margin-bottom: 10px;
        transition: 0.3s ease-in-out;

        &:hover {
            color: #E08631;
            text-decoration: none;
        }
    }
}

.footer-social {

    &__text {
        @include fontStyle(Montserrat, 14px, 400);
        color: #FFFFFF;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__social-icons-wrapper {
        display: flex;
        gap: 27px;
    }
}

.social-icons__icon {
    width: 32px;
    height: 32px;

    &--fb {
        width: 18px;
        height: 32px;
    }

    &--ab {
        width: 30px;
        height: 32px;
    }
}

.newsletter-title {

    &__main-title {
        @include fontStyle(Montserrat, 14px, 400);
        color: #FFFFFF;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__sub-title {
        @include fontStyle(Montserrat, 14px, 400);
        color: #FFFFFF;
        line-height: 20px;
        margin-bottom: 10px;
    }
}

.footer-copy {

    &__logo {
        width: 200px;
        height: 70px;
        margin: 0 auto 20px auto;


        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &__copyright {
        @include fontStyle(Montserrat, 14px, 400);
        color: #FFFFFF;
        line-height: 20px;
        margin-bottom: 20px;

        &--wrapper {
            margin: 0 auto;
            text-align: center;
        }
    }

    &__contact {
        @include fontStyle(Montserrat, 14px, 400);
        color: #FFFFFF;
        line-height: 20px;
    }
}